.nayn-h1{
    color: salmon;
    text-align: center;
    text-transform: uppercase;
}
.nayn-h1{
    color: salmon;
    text-align: center;
}
.nayn-ul{
    color: royalblue;
    align-items: center;
}
.nayn-h2{
    color: darkorange;
}
.nayn-body {
    background-image: url("http://wifflegif.com/");
  }