<h1 class="nayn-h1">Personal Info</h1>
<h2 class="nayn-h2"> My Personal Info</h2>
<ul class="nayn-ul"> 
    <li> Janine Grace P. Suello</li>
    <li> 2nd year BSIT student </li>
    <li> Born and raised at Cagayan de Oro City</li>
    <li> A Capricorn</li>
</ul>

<h2 class="nayn-h2"> My Favorites </h2>
<ul class="nayn-ul"> 
    <li> I love pink, especially if it's Hello Kitty </li>
    <li> I love reading novels </li>
    <li> I like listening to music </li>
    <li> ILYSB is my favorite song </li>
    <li> I like public speaking </li>
</ul>

<h2 class="nayn-h2"> My Dislikes </h2>
<ul class="nayn-ul"> 
    <li> I dislike dancing </li>
    <li> I dislike dishonesty </li>
    <li> I rarely studies </li>
    <li> I dislike getting ill </li>
</ul>